@import '../../sass/mixins';

.cart-dropdown {
  position: absolute;
  width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 10px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 55px;
  z-index: 5;

  @include md {
    right: 15px;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 20px;
    }

    .empty-cart-msg {
      font-size: 18px;
      margin: 50px auto;
    }
  }

  .close {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0;
    margin-bottom: 5px;
  }

  button {
    margin-top: auto;
  }
}
