// Small tablets and large smartphones (landscape view)
$screen-sm-max: 575.98px;

// Small tablets (portrait view)
$screen-md-max: 767.98px;

// Tablets and small desktops
$screen-lg-max: 991.98px;

// Large tablets and desktops
$screen-xl-max: 1199.98px;
