@import '../../sass/mixins';

.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }

  @include sm {
    width: 100%;
    padding: 10px;

    .custom-button {
      width: 100%;
    }
  }
}
