@import '../../sass/mixins';

.sign-in-and-sign-up {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  .error {
    margin-bottom: 10px;
    color: red;
  }

  @include lg {
    flex-direction: column;
    align-items: center;
  }
}
